@font-face {
    font-family: GothamBlack;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Gotham-Black.woff2') format('woff2'), url('/fonts/Gotham-Black.woff') format('woff'), url('/fonts/Gotham-Black.otf') format('opentype');
}

@font-face {
    font-family: GothamBold;
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Gotham-Bold.woff2') format('woff2'), url('/fonts/Gotham-Bold.woff') format('woff'), url('/fonts/Gotham-Bold.otf') format('opentype');
}

:root {
    font-family: GothamBold, sans-serif;
    /* font-family: sans-serif !important; */
    line-height: 1.5;
    background-color: var(--bg-primary);
    color-scheme: dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --spotify-green: #1ed760;
    --bg-primary: #121212;
    --bg-secondary: #2a2a2a;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: var(--bg-primary);
    background: var(--spotify-green);
}

::selection {
    color: var(--bg-primary);
    background: var(--spotify-green);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    -webkit-tap-highlight-color: transparent !important;
}

img,
svg {
    display: block;
    width: 100%;
    user-select: none;
}

input,
button {
    font: inherit;
    all: unset;
}

button {
    cursor: pointer;
}

body {
    height: 100vh;
    height: 100svh;
}
